<div class="row">
  <% bookmarks.each do |bookmark| %>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%= bookmark.achievement.title %></span>
          <% bookmark.achievement.tags.each do |tag| %>
            <%= link_to "##{tag.name}", tag_path(tag), class: "chip" %>
          <% end %>
        </div>
        <div class="card-action">
          <%= link_to '解除取消', user_bookmark_path(current_user, bookmark), method: :patch, class: "btn orange" if bookmark.unlocked? %>
          <%= link_to 'ストック取消', user_bookmark_path(current_user, bookmark), method: :delete, class: "btn red" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
