<% if bookmark.achievement.users.include?(current_user) %>
  <span class="grey-text text-darken-1">ストック済</span>
<% else %>
  <%= link_to 'ストックする', user_bookmarks_path(current_user, params: { bookmark: { achievement_id: bookmark.achievement.id } }), method: :post, remote: true %>
<% end %>
