<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'ホーム', root_path, class: "breadcrumb-item" %>
    <li class="breadcrumb-item active" aria-current="page">マイページ</li>
  </ol>
</nav>

<%= image_tag @user.image_url, class: "rounded-circle" %>
<%= @user.nickname %>
<hr>
<div class="row">
  <% @user.achievements.each do |achievement| %>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= achievement.title %></h5>
        </div>
      </div>
      <br>
    </div>
  <% end %>
</div>
