<% achievements.each do |achievement| %>
  <div class="col s12">
    <div class="card" id=<%= "achievement-card-#{achievement.id}" %>>
      <%= render 'achievements/achievement_card', { achievement: achievement } %>
    </div>
  </div>
<% end %>
<%= paginate achievements, remote: true %>
